<?php

/**
* Games Monitoring Project Configuration file
**/

$config = array(

 'PROJECT_NAME' => 'Games Monitoring',
 'PROJECT_VERSION' => '0.0.1',
 'DEFAULT_THEME' => 'Default',
 'CLASS_PATH' => 'application/classes',
 'CONTROLLERS_PATH' => 'application/controllers',
 'MODELS_PATH' => 'application/models',
 'VIEWS_PATH' => 'application/views',
 'INCLUDES_PATH' => 'application/includes',

 'DEFAULT' => 'default',
 'PRIVATE' => 'private',
 'PUBLIC' => 'public',

 'mysql' => array(
  'host' => 'localhost',
  'database' => 'gamesmonitoring',
  'user' => 'gamesmonitoring',
  'password' => 'gamesmonitoring',
  'charset' => 'utf8',
  ),
);
