<?php

/**
* Games Monitoring Project Configuration file
**/

$config = array(

 'PROJECT_NAME' => 'Games Monitoring',
 'PROJECT_VERSION' => '0.0.2',
 'PROJECT_ROOT' => dirname(__DIR__, 2),
 'DEFAULT_THEME' => 'Default',
 'CLASS_PATH' => 'application/classes',
 'INCLUDES_PATH' => 'application/includes',

 'mysql' => array(
  'host' => 'localhost',
  'database' => 'gamesmonitoring',
  'user' => 'gamesmonitoring',
  'password' => 'gamesmonitoring',
  'charset' => 'utf8',
  ),
);
